{% comment %}
Parameters:
	image-file 				The file name for the image.
	[image-style]			
	[image-margin-right] 	Without "px"

	[image-max-width] 		Without "px"
	or
	[image-max-height] 		Without "px"

	[first=true]			For the first panel in the group
	[expanded=true]			Usually only specified for the first panel
	[heading-height]		Without "px"
	groupId=string			Unique string for the group
	panelId=string			Unique string for the panel
	title=string			The string for the title
	[title-padding-top]		Without "px"
{% endcomment %}

{% if include.first==true %}
<div class="panel-group" id="{{include.groupId}}">
{% endif %}
	<div class="panel panel-default">
		<div class="panel-heading" {% if include.heading-height %}style="height: {{include.heading-height}}px !important"{% endif %}>
		<h4 class="panel-title">
			{% include inline_image1.html file=include.image-file max-width=include.image-max-width max-height=include.image-max-height margin-right=include.image-margin-right style=image-style %}
			<div {% if include.title-padding-top %}style="padding-top: {{include.title-padding-top}}px"{% endif %}>
				<a data-toggle="collapse" data-parent="#{{include.groupId}}" href="#{{include.panelId}}">
					{{include.title}}
				</a>
			</div>
		</h4>
		</div>
		<div id="{{include.panelId}}" style="clear: left" class='panel-collapse collapse{% if include.expanded==true %} in{% endif %}'>
			<div class="panel-body" markdown="1">
			  