{% comment %}
Parameters:
	type=string 	"info", "success", "warning", "danger"
	content
	[icon=string] 	Any FontAwesome font, will default to appropriate font for the type
					Pass "none" to not have an icon.
	[icon-stle] 
	[class=string]
	[style=string]
	[divId=string]
	[content-style]
	[contentId]

{% endcomment %}

{% if include.icon %}
	{% capture myIconFont %}{{include.icon}}{% endcapture %}	
{% else %}
	{% case include.type %}
		{% when "none" %}
			{% assign myIconFont=nil %}
		{% when "success" %}
			{% assign myIconFont="fa-check-square-o" %}
		{% when "warning" %}
			{% assign myIconFont="fa-warning" %}
		{% when "danger" %}
			{% assign myIconFont="fa-exclamation-circle" %}
		{% else %}
			{% assign myIconFont="fa fa-info-circle" %}
	{% endcase %}
{% endif %}

{% if myIconFont %}
	{% if include.icon-style %}
		{% capture myIconStyle %}style='{{include.icon-style}}'{% endcapture %}
	{% else %}
		{% assign myIconStyle="" %}
	{% endif %}
	{% capture myIconHtml %}<i class='fa {{myIconFont}}' {{myIconStyle}}></i>{% endcapture %}
{% else %}
	{% assign myIconHtml="" %}
{% endif %}

<div {% if include.divId %}id="{{include.divId}}"{% endif %} class="alert alert-{{ include.type }} my_alert-flexbox {% if include.class %}{{include.class}}{% endif %}" role="alert" {% if include.style %}style="{{include.style}}"{% endif %}>
<div {% if include.icon-style %}style="{{include.icon-style}}"{% endif %}>{{ myIconHtml }}</div>
<div markdown="1" class="my_alert-flexbox-content" {% if include.contentId %}id="{{include.contentId}}"{% endif %} {% if include.content-style %}style="{{include.content-style}}"{% endif %}>
{{include.content}}
</div>
</div>

{% assign myIconHtml=nil %}
{% assign myIconStyle=nil %}
{% assign myIconFont=nil %}
