{% comment %}
Parameters:
	url
	file
	alternat
	max-width
	caption
	caption-style
	class
	style

{% endcomment %}


<figure>{% if {{include.url}} %}<a class="no_icon" target="_blank" rel="noopener" href="{{include.url}}">{% endif %}
	<img class="my_post-content-image{% if include.class != blank %} {{include.class}}{% endif %}" {% if {{include.style}} %}style="{{include.style}}"{% endif %} src="images/{{include.file}}" loading="lazy" alt="{{include.alt}}" 
		{% if {{include.max-width}} %}style="max-width: {{include.max-width}}px"{% endif %} />
	{% if {{include.url}} %}</a>{% endif %}
	{% if {{include.caption}} %}<figcaption {% if {{include.caption-style}} %}style="{{include.caption-style}}"{% endif %}>{{include.caption}}</figcaption>{% endif %}
</figure>
