{% include accordion_panel_begin.html first=true groupId="windows_security_error" panelId="windows_security_error_panel" title='If Windows tries to "protect" your computer when you run <i>GranTracker</i>' %}

{% include accordion_panel_begin.html first=true expanded=true groupId="windows_security_error_00" panelId="windows_security_error_panel_01" title='Windows may display a warning message, like this:' %}
{% include image1.html file="windows-security-warning-01.png" %}
<p>It just means I didn't pay an arm and a leg to have Microsoft "certify" my application.</p>
{% include accordion_panel_end.html %}

{% include accordion_panel_begin.html groupId="windows_security_error_00" panelId="windows_security_error_panel_02" title='Click "More info"' %}
{% include image1.html file="windows-security-warning-02.png" %}
{% include accordion_panel_end.html %}

{% include accordion_panel_begin.html groupId="windows_security_error_00" panelId="windows_security_error_panel_03" title='You&#39;ll get this final warning dialog:' %}
{% include inline_image1.html file="windows-security-warning-03.png" %}
<div class="my_group-clear-after" style="margin-top: 50px; margin-left: 40px;" markdown="1">
<p>Assuming you trust me not to be a scammer, then click "Run anyway".</p>
<p>Otherwise, click "Don&#39;t run", move the files to rhe recycle bin, and go on with your life without <b><i>GranTracker</i></b>.</p>
</div>

{% include accordion_panel_end.html last=true %}

{% include accordion_panel_end.html last=true%}
