{% comment %}
	first=true
	last=true
	expanded=true
{% endcomment %}

{% include accordion_panel_begin.html first=include.first expanded=include.expanded groupId="version1x" panelId="version_1_5_3_p1" title="v1.5.3" %}

## <span style="color:red">Major Bug Fix</span>

* Fixed a bug that could cause the Add/Edit Races dialog to reset some of the fields if you changed the timestamp field.

### Minor Bug Fix

* Fixed a bug where some of the columns in the Races table might not show the colored values properly.

{% include accordion_panel_end.html last=include.last %}
