{% comment %}
	first=true
	last=true
	expanded=true
{% endcomment %}

{% include accordion_panel_begin.html first=include.first expanded=include.expanded groupId="version" panelId="version_3_0_1_p1" title="v3.0.1" %}

## NOTE:

You'll have to upgrade to this version before you can download any new Data Updates.

### Improvements

Race Week Data Updates can now include new Tire Types, which will automatically be added to your current list of Tire Types, as needed.

### Bug Fixes

Fixed a few bugs with the new Data Update feature.

{% include accordion_panel_end.html last=include.last %}
