{% comment %}
	first=true
	last=true
	expanded=true
{% endcomment %}

{% include accordion_panel_begin.html first=include.first expanded=include.expanded groupId="version" panelId="version_3_1_1_p1" title="v3.1.1" %}

### BEFORE YOU INSTALL THIS VERSION

<b>If you never installed version 3.1.0</b>, then go ahead and install this version. You can skip the rest of this text, and look at the changes for version 3.1.0 (below).

If you installed version 3.1.0, you probably lost some data - NOT your races, but new cars you've added, and any Race Week Custom Races (for an example, see **[Adding Manufacturers Cups Races](doc_tips#tip_01)** ) you might have added.

Again, you shouldn't have lost any race results.

If this is you, please <a class="email" title="contact me" href="#" onclick="javascript:window.location='mailto:{{site.feedback_email}}?subject=v3.1.0 Data Help&body=I need some help restoring some data.'"><b>contact me</b></a> and I'll help you fix the files.


{% include accordion_panel_end.html last=include.last %}
